name: build-push-scan

on:
  push:
    branches:
      - "main"
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  security-events: write

env:
  IMAGE_PATH: ghcr.io/${{ github.repository }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Getting current date
        id: date
        if: ${{ github.ref == 'refs/heads/main' }}
        run: echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

      - name: Getting image name
        id: getImageName
        run: echo "IMAGE_NAME=${GITHUB_REPOSITORY#*/}" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@v4

      - name: Building image
        run: docker build . --file Dockerfile --tag ${{ env.IMAGE_PATH }}/${{ env.IMAGE_NAME }}:${{ env.DATE }} --tag ${{ env.IMAGE_PATH }}/${{ env.IMAGE_NAME }}:latest

      - name: Scanning image
        uses: anchore/scan-action@7c05671ae9be166aeb155bad2d7df9121823df32 # v6.1.0
        id: scan
        with:
          image: "${{ env.IMAGE_PATH }}/${{ env.IMAGE_NAME }}:latest"
          fail-build: false
          severity-cutoff: "critical"

      - name: Uploading Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@v3
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Logging into ghcr.io
        uses: docker/login-action@9780b0c442fbb1117ed29e0efdff1e18412f7567 # v3.3.0
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}
          registry: ghcr.io

      - name: Pushing Image to GHCR
        run: docker push ${{ env.IMAGE_PATH }}/${{ env.IMAGE_NAME }}:${{ env.DATE }} && docker push ${{ env.IMAGE_PATH }}/${{ env.IMAGE_NAME }}:latest
        if: ${{ steps.scan.outcome == 'success' }}
