name: build-push-scan

on:
  push:
    branches:
      - "main"
    paths:
      - "Dockerfile"
      - ".assets/**"
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  security-events: write

env:
  IMAGE_PATH: ghcr.io/${{ github.repository }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Getting current date
        id: date
        if: ${{ github.ref == 'refs/heads/main' }}
        run: echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Building image
        run: docker build . --file Dockerfile --tag ${{ env.IMAGE_PATH }}:${{ env.DATE }} --tag ${{ env.IMAGE_PATH }}:latest

      - name: Scanning image
        uses: anchore/scan-action@f6601287cdb1efc985d6b765bbf99cb4c0ac29d8 # v7.0.0
        id: scan
        with:
          image: "${{ env.IMAGE_PATH }}:latest"
          fail-build: false
          severity-cutoff: "critical"

      - name: Uploading Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@0499de31b99561a6d14a36a5f662c2a54f91beee # v4.31.2
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Logging into ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}
          registry: ghcr.io

      - name: Pushing Image to GHCR
        run: docker push ${{ env.IMAGE_PATH }}:${{ env.DATE }} && docker push ${{ env.IMAGE_PATH }}:latest
        if: ${{ steps.scan.outcome == 'success' }}

