name: build-push-scan

on:
  push:
    branches:
      - "main"
    paths:
      - "Dockerfile"
      - "assets/**"
  schedule:
    - cron: '0 2 * * 0'
  workflow_dispatch:

permissions:
  contents: read
  packages: write
  security-events: write

env:
  IMAGE_PATH: ghcr.io/${{ github.repository }}

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Getting current date
        id: date
        if: ${{ github.ref == 'refs/heads/main' }}
        run: echo "DATE=$(date +'%Y%m%d')" >> $GITHUB_ENV

      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Building image
        run: docker build . --file Dockerfile --tag ${{ env.IMAGE_PATH }}:${{ env.DATE }} --tag ${{ env.IMAGE_PATH }}:latest

      - name: Scanning image
        uses: anchore/scan-action@568b89d27fc18c60e56937bff480c91c772cd993 # v7.1.0
        id: scan
        with:
          image: "${{ env.IMAGE_PATH }}:latest"
          fail-build: false
          severity-cutoff: "critical"

      - name: Uploading Anchore scan SARIF report
        uses: github/codeql-action/upload-sarif@014f16e7ab1402f30e7c3329d33797e7948572db # v4.31.3
        with:
          sarif_file: ${{ steps.scan.outputs.sarif }}
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}

      - name: Logging into ghcr.io
        uses: docker/login-action@5e57cd118135c172c3672efd75eb46360885c0ef # v3.6.0
        with:
          username: ${{ github.actor }}
          password: ${{ secrets.GH_TOKEN }}
          registry: ghcr.io

      - name: Pushing Image to GHCR
        run: docker push ${{ env.IMAGE_PATH }}:${{ env.DATE }} && docker push ${{ env.IMAGE_PATH }}:latest
        if: ${{ steps.scan.outcome == 'success' }}

